body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.player {
    background-color: #e118f3;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(240, 11, 11);
    padding: 20px;
    width: 50%;
    text-align: center;
}

.album-cover img {
    max-width: 100%;
    border-radius: 5px;
}

audio {
    width: 100%;
    margin-top: 20px;
}

.song-info h2 {
    font-size: 24px;
    margin: 5px 0;
}

.song-info p {
    color: #ffffff;
}

.playlist {
    background-color: #e118f3;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(250, 2, 2);
    padding: 20px;
    width: 40%;
  
}

.playlist h3 {
    font-size: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    cursor: pointer;
    margin: 10px 0;
}

li:hover {
    color: #1DB954;
}
